@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');


/*----------------------------------------general styles*/
body {
    margin:0;
    padding:0;
    background-color: pink;
}

.container-fluid {
    height: 100vh;
    }


/*----------------------------------------color pallette*/
.jumbotron_bg_color {
    background-color: rgba(0,0,0,0.25);
}



/*----------------------------------------navigation styles*/


nav {
    background-color: #fafafa;
    z-index: 1;
}

/*----------------------------------------video styles*/

#headder_video {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    
}

/*----------------------------------------jumbotron styles*/
.jumbotron_style {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}