@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i&display=swap');


/*----------------------------------------general styles*/
html {
    margin:0;
    padding:0;
}

body {
    background-color: black;
   
}

.container-fluid {
    padding:0;
    margin: 0;
}

.uppercase {
    text-transform:uppercase;
}

h1,h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/*----------------------------------------background color palettes*/
.black-background{
    background: black;
}

.barn-red {
    background-color: #750705;
}


/*----------------------------------------navigation styles*/
.navbar {
    background: black;
    min-width: 100%;
}

.navbar-brand {
     color: white;  
     font-weight: 700;
     font-family: 'Montserrat', sans-serif;
     font-size: 2em;
}


.nav-item {
 color: white;   
 font-weight: 400;
 font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    color: white; 
}

.collapse {
    text-align: right;
}

/*----------------------------------------home page styles*/

#headder_video {
    margin:0;
    padding:0;
    min-height: 100%;
    min-width: 100%;
   
}

.img-background {
    padding: 0;
    position: absolute;
    top:0;
    right:auto;
    z-index: -1;
    
}

.img-fluid {
    border-radius: 50px;
}

/*----------------------------------------hit song styles*/
.blank {
    background-color: rgba(0,0,0,0);
    padding-top: 250px;
}

.hit-song {
    border-radius: 10px;
    padding:10px;
    margin: auto;
    background-color: white;
    
   
}




@media (min-width:768px) {
    .blank {
        padding-top: 500px;
    }
    .hit-song {
        margin: auto;
    }
    
}

@media (min-width:992px) {
    .blank {
        padding-top: 0;
        text-align: center;
        width: 80vw;
        margin: auto;
    }
}
 
 
 /*----------------------------------------music styles*/
 .music_container {
        padding: 10px 0 0 10PX;
        background-color: #0498be;
        width: 100vw;
        margin: 20px auto;
        border-radius: 10px;
        text-align: center;
    }

.audio-label {
    font-family: 'Montserrat', sans-serif;    
}

audio {
    width: 220px;
    height: 50px;
} 
 
@media (min-width:768px) {
    audio {
    width: 400px;
    height: 50px;
} 
    .music_container {
        padding-bottom: 20px;
    }
    }
 
 .pad {
    padding: 20px;
}

/*----------------------------------------gallery styles*/
 .gallery_container {
        padding: 10px 0 0 10PX;
        background-color: #fbd303;
        width: 100vw;
        margin: 10px auto;
        border-radius: 10px;
        text-align: center;
    }
    
.gallery-font {
    
}
 
 
/*----------------------------------------music video styles*/
.musicvideo_container {
    padding: 10px 0 0 10PX;
        background-color: #fe7360;
        width: 100vw;
        margin: 10px auto;
        border-radius: 10px;
        text-align: center;
}


.musicvideo {
    width: 350px;
    height: 200px;
}
 
 
 
 
 /*----------------------------------------contact us styles*/
 
.booking-container  {padding: 10px 0 0 10PX;
        background-color: #22a8ca;
        width: 100vw;
        margin: 20px auto;
        border-radius: 10px;
        text-align: center;
}

/*----------------------------------------footer styles*/

.social-links {
    margin:0;
}